body {
    margin:0;
    text-align: center;
    font-family: 'Jura', sans-serif;
}

.top-section {
    background-color: #90D4D3;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    margin: 0;
    color:  #0B8785;
}

p {
    width: 50%;
    margin: 0 auto 0 auto;
    line-height: 2;
    font-size: 1.1rem;
}

h4, h3, h2{
    color:  #0B8785;
    font-family: 'Merriweather Sans', sans-serif;
}
.nav-bar{
    padding: 30px;
    width: 100%;
    height: 40px;
    position: relative;
}


.nav-bar img{
    position: absolute;
    left: 40px;
}

hr {
    border-style: dotted none none;
    border-bottom: none;
    width: 4%;
    border-width: 5px;
    border-color: #c9d6df;
    margin: 30px auto;
}

.todo-img {
    width: 15%;
    float: right;
}

.todo-div {
    width: 75%;
    margin: 20px auto;
    text-align: right;
    line-height: 1.25;
}

.todo-p{
    width: 60%;
}
.house-div {
    width: 75%;
    margin: 20px auto;
    text-align: left;
    line-height: 1.25;
}

.house-img {
    width: 15%;
    float: left;
}

.house-p{
    width: 60%;
}

a {
    text-decoration: none;
    color:  #0B8785;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 20px;
}

a:hover {
    color:  #1D666B;
}

.footstage {
    width: 100%;
    background-color: #90D4D3;
    padding: 50px 0 25px;
    margin-top: 30px;
}

.copyright {
    font-size: 0.55rem;
    padding-top: 10px;
    color: whitesmoke;
}


.btn {
	background-color:#90d4d3;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	border:1px solid #90d4d3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#0b8785;
}
.btn:active {
	position:relative;
	top:1px;
}
.contact-p {
    margin-bottom: 20px;
}


